

  <div class="container">
    <div class="lil-container text-center">
      <h1 class="splash">♥ check mates ♥</h1>
      <p class="motto">Monthly reminders for your self breast exam. Earn points with your favorite brands.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed ipsum ac lacus tincidunt facilisis. Donec nec diam vitae enim venenatis sodales sed non ante. Praesent eget dictum lectus. In ullamcorper et lacus eu consectetur. Etiam maximus varius mattis. In consequat elit vel neque aliquam pellentesque sed sed ligula. Morbi scelerisque lectus dolor, eu laoreet diam mattis vitae. Donec vitae tortor placerat, rutrum urna non, tempus nis.</p>
    </div>
    <span class="genericon genericon-bug"></span>
  </div>
