<div class="row" data-equalizer>
    <div class="small-10 medium-7 large-11 column text-center" data-equalizer-watch id="lil-container">
      <div class="tabs-content">
        <div class="content active" id="panel1">
          <h1 class="splash">♥ ladybug ♥</h1>
          <h2>Prevention is the cure.</h2>
          <p class="motto">Step 1: Get monthly texts for your self breast exam.</p>
          <p class="motto">Step 2: Remind a friend</p>
          <p class="motto">Step 3: Earn points with your favorite brands.</p>
          <p class="copy">When's the last time you did a self exam? It's important to check be aware of how your breasts normally look and feel. The best cure for breast cancer is prevention.</p>
          </div>
          <div class="content" data-equalizer-watch id="panel2">
            <p class="italic">“Forty percent of diagnosed breast cancers are detected by women who feel a lump, so establishing a regular breast self-exam is very important.”</p>

            <p class="copy">While mammograms can help you to detect cancer before you can feel a lump, breast self-exams help you to be familiar with how your breasts look and feel so you can alert your healthcare professional if there are any changes.</p>
          </div>
          <div class="content" data-equalizer-watch id="panel3">
            <p> TESTING PANEL 3</p>
          </div>
      </div>
      <div class="row">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a class="tab-panel"href="#panel1"><i class="fi-heart"></i></a></li>
            <li class="tab-title"><a class="tab-panel" href="#panel2"><i class="fi-heart"></i></a></li>
            <li class="tab-title"><a class="tab-panel" href="#panel3"><i class="fi-heart"></i></a></li>
          </ul>
        </div>
    </div>
    <div class="small-2 medium-5 large-1 columns"></div>
  </div>
