

  <div class="row">
    <div class="small-10 medium-7 large-7 column text-center lil-container">
      <h1 class="splash">♥ ladybug ♥</h1>
      <p class="motto">Earn points with your favorite brands. Monthly reminders for your self breast exam.</p>
      <p>When's the last time you did a self exam? It's important to check be aware of how your breasts normally look and feel. The best cure for breast cancer is prevention.</p>
    <i class="fi-heart"></i>
    <i class="fi-heart" style="color: white;"></i>
    <i class="fi-heart" style="color: white;"></i>
    </div>
    <div class="small-2 medium-5 large-5 columns"></div>
  </div>

