<div class="row" >
    <div class="small-11 medium-10 large-10 large-centered column text-center" id="lil-container">
      <div class="tabs-content">
        <div class="splash_tabs content active" id="panel1">
          <h1 class="splash"> ladybug </h1>
          <div class="break">
            <h2>
              Be rewarded for taking care of yourself.
            </h2>
          </div>
          <div class = "row">
            <div class = "large-4 columns">
              <p class="motto">
                <i class="fi-check"></i>
                <br/>
                Get monthly texts for your self breast exam.</p>
          </div>
          <div class = "large-4 columns">
            <p class="motto"><i class="fi-check"></i><br />Invite or remind friends<br><br></p>
          </div>
          <div class = "large-4 columns">
            <p class="motto"><i class="fi-check"></i><br /> Earn points with your favorite brands.</p>
          </div>
        </div>
      </div>
      <div class="splash_tabs content" id="panel2">
        <h1>Why check yourself?</h1>
        <div class="paragraph">
          <p class="italic">“Forty percent of diagnosed breast cancers are detected by women who feel a lump, so establishing a regular breast self-exam is very important.”</p>
        </div>

        <div class="paragraph">
          <p class="copy">While mammograms can help you to detect cancer before you can feel a lump, breast self-exams help you to be familiar with how your breasts look and feel so you can alert your healthcare professional if there are any changes.</p>
          </div>
        <div class="paragraph">
          <p class="copy">When combined with regular medical care and appropriate guideline-recommended mammography, breast self-exams can help women know what is normal for them so they can report any changes to their healthcare provider</p>
        </div>
      </div>
      <div class="splash_tabs content" id="panel3">
        <p> TESTING PANEL 3</p>
      </div>
    </div>
    <div class="row">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a class="tab-panel"href="#panel1"><i class="fi-heart"></i></a></li>
        <li class="tab-title"><a class="tab-panel" href="#panel2"><i class="fi-heart"></i></a></li>
        <li class="tab-title"><a class="tab-panel" href="#panel3"><i class="fi-heart"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="small-1 medium-2 large-2 large-centered columns"></div>
</div>

