

  <div class="container">
    <div class="lil-container text-center">
      <h1 class="splash">♥ check mates ♥</h1>
      <p>Get monthly reminders for your breast exam.</p>
    </div>
    <p>text text text text text</p>
  </div>
